@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar.css */
/* font-family: 'Poppins', sans-serif; */

*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
 
}
